<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <style>
    body {
      background-color: #1a1a1a;
      color: aliceblue;

      position: relative;
      font-family: sans-serif;
    }
    .fatherDiv {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  </style>
  <body style="font-family: sans-serif">
    <nav>{%block nav%}{%endblock%}</nav>

    <div class="fatherDiv">{% block content %} {% endblock %}</div>
  </body>
</html>
