<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <style>
    body {
      background-color: #1a1a1a;
      color: aliceblue;
    }
    .fatherDiv {
      display: flex;
      flex-wrap: wrap;
    }
  </style>
  <body style="font-family: sans-serif">
    <nav>
      {% if user.is_authenticated %}
      <div>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Logout" />
        </form>
        <p>Hello, {{ user.username }}</p>
        <p>💰 На балансе: {{ user.wallet }}</p>
      </div>
      {% endif %}
    </nav>
    <div class="fatherDiv">{% block content %} {% endblock %}</div>
  </body>
</html>
